/********************
** Reset start  
*********************/

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
/****************
** Reset end  
*****************/

/******************
** Variables start  
*******************/
:root {
  --mainFontColor: hsl(0, 0%, 25%);
  --standoutFontColor: hsl(0, 0%, 2%);
  --mainColor: #523a28;
  --secondaryColor: #a47551;
  --thirdColor: #d0b49f;
  --fourthColor: #e4dac8;
  --mainFontSize: 1.25rem;
  --btnPadding: 0.5em 0.75em;
  --btnTransition: all 0.3s ease-in-out;
  --mainLetterSpacing: 0.05em;
}
/******************
** Variables end 
********************/

/*******************
** Body start  
*******************/
body {
  font-family: "Poppins", sans-serif;
  color: var(--mainFontColor);
  font-size: var(--mainFontSize);
}

/*******************
** Body end 
*******************/

/*********************
** Navigation start  
**********************/
.navigation-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--fourthColor);
  padding: 1.2em 0;
  /* position: fixed; */
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
}

.company-logo {
  width: 110px;
}

.nav-list {
  list-style: none;
  display: flex;
  /* background-color: antiquewhite; */
  justify-content: space-around;
  width: 50%;
  letter-spacing: var(--mainLetterSpacing);
}

.nav-list a {
  color: var(--mainColor);
}

.nav-list li:hover,
.nav-list a:hover {
  color: var(--secondaryColor);
}

/*********************
** Navigation end 
**********************/

/******************
** Hero start  
*******************/

.hero-container {
  background: url(heroImg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 3.4em);
  position: relative;
}

.shop-btn {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  padding: var(--btnPadding);
  outline: none;
  background: none;
  font-size: 1.5rem;
  border: 5px solid var(--mainColor);
  border-radius: 2px;
  cursor: pointer;
  font-weight: 700;
  color: var(--mainColor);
  transition: var(--btnTransition);
  letter-spacing: var(--mainLetterSpacing);
}

.hero-statement {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: var(--mainLetterSpacing);
}

.shop-btn:hover {
  background-color: var(--mainColor);
  color: var(--fourthColor);
}

.ijlis {
  color: var(--secondaryColor);
}

/******************
** Hero end 
*******************/

/******************************
 ** Featured collection start
*******************************/
.featured-collection-container {
  display: flex;
  position: relative;
}

/***** Featured collection shop start ******/
.featured-collection-shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
  background-color: var(--fourthColor);
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
}

.featured-collection-title {
  letter-spacing: 0.1em;
}

.featured-collection-btn {
  padding: var(--btnPadding);
  font-size: var(--mainFontSize);
  color: var(--fourthColor);
  background-color: var(--mainColor);
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 1rem;
  transition: var(--btnTransition);
  border-radius: 3px;
  font-weight: 700;
}

.featured-collection-btn:hover {
  background-color: hsl(26, 34%, 33%);
}
/***** Featured collection shop end ******/

/***** Featured collection selection start ******/
.featured-collection-selection-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50%;
  overflow: scroll;
}

.featured-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
  background-color: hsl(0, 0%, 95%);
  padding: 2rem 0.5rem;
}

.featured-img {
  width: 400px;
}
/***** Featured collection selection start ******/

/******************************
  ** Featured collection end
*******************************/

/******************************
  ** Testimonials start
*******************************/

.testimonials-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "title title testimony1 testimony1"
    "testimony2 testimony3 testimony4 testimony5"
    "testimony6 button . .";
  gap: 0.5em;
  margin: 0.5rem 0;
}

.testimonial-title {
  grid-area: title;
  /* padding: 0.75em; */
  place-self: center;
}

.testimony {
  /* border: 2px solid var(--mainColor); */
  padding: 0.75em;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6),
    0px 0px 6px 0 rgba(0, 0, 0, 0.7), 1px 2px 4px 0px rgba(0, 0, 0, 0.75);
  border-radius: 2.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimony-1 {
  grid-area: testimony1;
}

.testimony-2 {
  grid-area: testimony2;
}

.testimony-3 {
  grid-area: testimony3;
}

.testimony-4 {
  grid-area: testimony4;
}

.testimony-5 {
  grid-area: testimony5;
}

.testimony-6 {
  grid-area: testimony6;
}

.testimonies-btn {
  grid-area: button;
  height: max-content;
  width: max-content;
  font-size: 1.5rem;
  padding: 0.5em 0.75em;
  place-self: end start;
  background-color: var(--mainColor);
  color: var(--fourthColor);
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 700;
}

.testimonies-btn:hover {
  background-color: hsl(26, 34%, 33%);
}

/******************************
  ** Testimonials end
*******************************/

/******************************
  ** Footer start
*******************************/
footer {
  background-color: var(--thirdColor);
  padding: 2em 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "contact social"
    "contact payment"
    "logo terms";
  height: 80vh;
}

.contact-container {
  grid-area: contact;
  /* background-color: sandybrown; */
  place-self: start center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  font-weight: 700;
}

.social-links-container {
  grid-area: social;
  display: flex;
  flex-direction: column;
  /* background-color: seagreen; */
  justify-content: space-between;
  height: 50%;
}

.social {
  transition: var(--btnTransition);
}

.social:hover {
  color: var(--fourthColor);
}

.payment-methods {
  grid-area: payment;
  /* background-color: seashell; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

.terms-container {
  grid-area: terms;
  /* background-color: sienna; */
}

.terms-btn,
.refund-btn {
  background-color: var(--fourthColor);
  color: var(--mainColor);
  padding: var(--btnPadding);
  border-radius: 5px;
  letter-spacing: var(--mainLetterSpacing);
  transition: var(--btnTransition);
  font-weight: 700;
}

.terms-btn:hover,
.refund-btn:hover {
  background-color: var(--mainColor);
  color: var(--fourthColor);
}

.footer-logo {
  grid-area: logo;
  place-self: start center;
}

/******************************
  ** Footer end
*******************************/
