/********************
** Reset start  
*********************/

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
/****************
** Reset end  
*****************/

/******************
** Variables start  
*******************/
:root {
  --mainFontColor: hsl(0, 0%, 25%);
  --standoutFontColor: hsl(0, 0%, 2%);
  --mainColor: #523a28;
  --secondaryColor: #a47551;
  --thirdColor: #d0b49f;
  --fourthColor: #e4dac8;
  --mainFontSize: 1.25rem;
  --btnPadding: 0.5em 0.75em;
  --btnTransition: 0.3s ease-in-out;
  --mainLetterSpacing: 0.05em;
}
/******************
** Variables end 
********************/

/*******************
** Body start  
*******************/
body {
  font-family: "Poppins", sans-serif;
  color: var(--mainFontColor);
  font-size: var(--mainFontSize);
}

/*******************
** Body end 
*******************/

/*********************
** Navigation start  
**********************/
.navigation-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--fourthColor);
  padding: 1.2em 0;
}

.company-logo {
  width: 110px;
}

.nav-list {
  list-style: none;
  display: flex;
  /* background-color: antiquewhite; */
  justify-content: space-around;
  width: 50%;
  letter-spacing: var(--mainLetterSpacing);
}

.nav-list a {
  color: var(--mainColor);
}

.nav-list li:hover,
.nav-list a:hover {
  color: var(--secondaryColor);
}

/*********************
** Navigation end 
**********************/

/******************
** Hero start  
*******************/

.hero-container {
  background: url(heroImg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 3.4em);
  position: relative;
}

.shop-btn {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  padding: var(--btnPadding);
  outline: none;
  background: none;
  font-size: 1.5rem;
  border: 5px solid var(--mainColor);
  border-radius: 2px;
  cursor: pointer;
  color: var(--mainColor);
  transition: var(--btnTransition);
  letter-spacing: var(--mainLetterSpacing);
}

.hero-statement {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: var(--mainLetterSpacing);
}

.shop-btn:hover {
  background-color: var(--mainColor);
  color: var(--fourthColor);
}

.ijlis {
  color: var(--secondaryColor);
}

/******************
** Hero end 
*******************/

/******************************
 ** Featured collection start
*******************************/
.featured-collection-container {
  display: flex;
  position: sticky;
  top: 0%;
}

/***** Featured collection shop start ******/
.featured-collection-shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
  background-color: var(--fourthColor);
  /* position: sticky; */
  /* top: 0%; */
  /* bottom: 0%; */
}

.featured-collection-title {
  letter-spacing: 0.1em;
}

.featured-collection-btn {
  padding: var(--btnPadding);
  font-size: var(--mainFontSize);
  color: var(--fourthColor);
  background-color: var(--mainColor);
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 1rem;
  transition: var(--btnTransition);
  border-radius: 3px;
}

.featured-collection-btn:hover {
  background-color: hsl(26, 34%, 33%);
}
/***** Featured collection shop end ******/

/***** Featured collection selection start ******/
.featured-collection-selection-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50%;
  overflow: scroll;
}

.featured-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
  background-color: hsl(0, 0%, 95%);
  padding: 2rem 0.5rem;
}

.featured-img {
  width: 400px;
}
/***** Featured collection selection start ******/

/******************************
  ** Featured collection end
*******************************/
